<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../styles/admin.css">

    <title>Panel de Administracion</title>
</head>
<body>
    <header>
        <a href="#" class="title">Panel de Administración</a>
        <a href="#" class="logout"><button>Logout</button></a>
    </header>
    
    <main class="contenedor">
        <div id="panelAdmin"></div>
        <article class="gestiones">
            <a href="#gestion-visitantes" class="card">Gestión Visitantes</a>
            <a href="#gestion-ascensores" class="card">Gestión Ascensores</a>
            <a href="#gestion-permisos" class="card">Gestión Permisos</a>
        </article>
    </main>

</body>
</html>