<div>
  <div class="genericHeader">
    <h1 class="genericTitle">Gestión de Ascensores</h1>
  </div>
  <div class="formContainer">
    <form id="formAscensor" class="genericForm">
      <div class="input-group">
        <label for="nombre">Nombre</label>
        <input class="textField" type="text" id="nombre" name="nombre" />
      </div>

      <div class="input-group">
        <label for="selectPisos">Pisos permitidos</label>
        <select
          multiple
          id="selectPisos"
          multiselect-search="true"
          multiselect-select-all="true"
          onload="generarOpciones(25)"
        ></select>
      </div>

      <div class="input-group">
        <label for="estado">Estado</label>
        <div class="radio-group">
          <label>
            <input
              type="radio"
              id="disponible"
              name="estado"
              value="Disponible"
              checked
            />
            Disponible
          </label>
          <label>
            <input
              type="radio"
              id="no_disponible"
              name="estado"
              value="No disponible"
            />
            No Disponible
          </label>
        </div>
      </div>

      <input class="botonS" type="submit" value="Añadir Ascensor" />
    </form>
  </div>

  <div class="genericHeader">
    <h3 class="genericTitle">Lista de Ascensores</h3>
  </div>
  <div class="tableContainer">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Pisos</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody id="cuerpo-tabla-ascensores"></tbody>
    </table>
  </div>

  <!-- The Modal -->
  <div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>

      <div class="formContainer">
        <form id="formAscensor" class="genericForm">
          <div class="input-group">
            <label for="nombre">Nombre</label>
            <input
              class="textField"
              type="text"
              id="nombre_modal"
              name="nombre"
            />
          </div>

          <div class="input-group">
            <label for="selectPisos">Pisos permitidos</label>
            <select
              multiple
              id="selectPisos"
              multiselect-search="true"
              multiselect-select-all="true"
              onload="generarOpciones(25)"
            ></select>
          </div>

          <div class="input-group">
            <label for="estado">Estado</label>
            <div class="radio-group">
              <label>
                <input
                  type="radio"
                  id="disponible"
                  name="estado"
                  value="Disponible"
                  checked
                />
                Disponible
              </label>
              <label>
                <input
                  type="radio"
                  id="no_disponible"
                  name="estado"
                  value="No disponible"
                />
                No Disponible
              </label>
            </div>
          </div>

          <input class="botonS" type="submit" value="Añadir Ascensor" />
        </form>
      </div>
    </div>
  </div>
</div>
