<div>
  <div class="genericHeader">
    <h1 class="genericTitle">Gestión de Ascensores</h1>
  </div>
  <div class="formContainer">
    <form id="formAscensor" class="genericForm">
      <label for="nombre">Nombre</label><br />
      <input class="textField" type="text" id="nombre" name="nombre" /><br />

      <label for="selectPisos">Pisos</label><br />
      <select
        multiple
        id="selectPisos"
        multiselect-search="true"
        multiselect-select-all="true"
        onload="generarOpciones(25)"
      ></select
      ><br />

      <label for="estado">Estado</label><br />
      <div class="contenedorEstado">
        <input type="radio"  name="estado" value="Disponible"  />  Disponible <br />
        <input type="radio"  name="estado" value="noDisponible"  />  No Disponible <br />
      </div>
      
      <input class="botonS" type="submit" value="Añadir Ascensor" />
      
    </form>
  </div>

  <div class="genericHeader">
    <h3 class="genericTitle">Lista de Ascensores</h3>
  </div>
  <div class="tableContainer">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Pisos</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody id="cuerpo-tabla-ascensores"></tbody>
    </table>
  </div>
</div>

