<div>
    <div class="genericHeader">
        <h1 class="genericTitle">Gestión de Visitantes</h1>
    </div>
    <div class="formContainer">
        <form id="formVisitantes" class="genericForm">
            <label for="nombre">Nombre</label><br>
            <input type="text" id="nombre" name="nombre"><br>

            <label for="edad">Edad</label><br>
            <input type="number" id="edad" name="edad"><br>

            <label for="email">Email</label><br>
            <input type="email" id="email" name="email"><br>

            <label for="pisos">Pisos permitidos</label><br>
            <input type="text" id="pisos" name="pisos"><br>

            <label for="email">Email</label><br>
            <input type="email" id="email" name="email"><br>

            <!-- Fecha checkIn, checkOut (ver) -->

            <input type="submit" value="Añadir visitante">
        </form>
    </div>
    
    <div class="genericHeader">
        <h1 class="genericTitle">Lista de Visitantes</h1>
    </div>
    <div class="tableContainer">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre Completo</th>
                    <th>Edad</th>
                    <th>Email</th>
                    <th>Pisos permitidos</th>
                    <th>Fecha de CheckIn</th>
                    <th>Fecha de CheckOut</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="cuerpo-tabla-visitantes">
                
            </tbody>
        </table>
    </div>
</div>