<div>
  <div class="genericHeader">
    <h1 class="genericTitle">Gestión de Ascensores</h1>
  </div>
  <div class="formContainer">
    <form id="formAscensor" class="genericForm">
      <label for="nombre">Nombre</label><br />
      <input type="text" id="nombre" name="nombre" /><br />

      <label for="pisos">Pisos</label><br />
      <select 
        multiple 
        id="selectPisos"
        multiselect-search="true" 
        multiselect-select-all="true"
        onload="generarOpciones(25)">
      </select><br />

      <label for="estado">Estado</label><br />
      <input type="text" id="estado" name="estado" /><br />

      <input type="submit" value="Añadir Ascensor" />
    </form>
  </div>

  <div class="genericHeader">
    <h1 class="genericTitle">Lista de Ascensores</h1>
  </div>
  <div class="tableContainer">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Pisos</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody id="cuerpo-tabla-ascensores"></tbody>
    </table>
  </div>
  <script src="/cliente-web/js/gestion-ascensores.mjs"></script>
</div>
