body {
    font-family: Arial, sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}

.btn-danger {
    background-color: #f44336;
}

.table-actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.genericForm {
    background-color: #f2f2f2;
    border-radius: 3em;
    width: 30%;
    padding: 2em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.genericHeader {
    background-color: #f2f2f2;
}

.genericTitle {
    margin: 0;
}

.tableContainer {
    padding: 1em;
}

#selectPisos {
    width: 60%;
}